@import url(reset.css);
@import url(base.css);
@import url(theme.css);
@import url(grid.css);
@import url(header.css);
@import url(navigation-icon.css);
@import url(navigation.css);
@import url(button.css);
@import url(card.css);

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

/* 전체 레이아웃 */
.card {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card-light {
  --card-title-color: var(--black);

  .card-title {
    color: var(--card-title-color);
  }
}

.ipad-pro {
  background-color: #000;
  background-image: image-set(
    url(./../products/ipad_pro.jpeg) 1x,
    url(./../products/ipad_pro_2x.jpeg) 2x
  );
}
.ipad-air {
  background-image: image-set(
    url(./../products/ipad_air.jpeg) 1x,
    url(./../products/ipad_air_2x.jpeg) 2x
  );
}
.iphone-15-pro {
  background-color: #000;
  background-image: image-set(
    url(./../products/iphone15_pro.jpeg) 1x,
    url(./../products/iphone15_pro_2x.jpeg) 2x
  );
}
.iphone-15 {
  background-image: image-set(
    url(./../products/iphone15.jpeg) 1x,
    url(./../products/iphone15_2x.jpeg) 2x
  );
}
.watch {
  background-color: #000;
  background-image: image-set(
    url(./../products/apple_watch.jpeg) 1x,
    url(./../products/apple_watch_2x.jpeg) 2x
  );
}
.macbook-air {
  background-image: image-set(
    url(./../products/macbook_air.jpeg) 1x,
    url(./../products/macbook_air_2x.jpeg) 2x
  );
}
.airpods-pro {
  background-color: #000;
  background-image: image-set(
    url(./../products/airpods_pro.jpeg) 1x,
    url(./../products/airpods_pro_2x.jpeg) 2x
  );
}

@media (min-width: 1024px) {
  .ipad-pro {
    background-image: image-set(
      url(./../products/ipad_pro_wide.jpeg) 1x,
      url(./../products/ipad_pro_wide_2x.jpeg) 2x
    );
  }
  .ipad-air {
    background-image: image-set(
      url(./../products/ipad_air_wide.jpeg) 1x,
      url(./../products/ipad_air_wide_2x.jpeg) 2x
    );
  }
  .iphone-15-pro {
    background-image: image-set(
      url(./../products/iphone15_pro_wide.jpeg) 1x,
      url(./../products/iphone15_pro_wide_2x.jpeg) 2x
    );
  }
}
